

#overallContainer {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 40px;
}

#gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameRows {
    display: flex;
}

.gameBlocks {
    height: 150px;
    width: 150px;
}

#block-1, #block-4,#block-7 {
    border-right: 1px solid black;
}
#block-2, #block-5,#block-8 {
    border-right: 1px solid black;
}
#row2 div, #row3 div {
    border-top: 1px solid black;
}

.gameBlocks:hover {
    background-color: grey;
}

