@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}



.title  {
    display: flex;
    justify-content: center;

}

.title h1 {
    font-size: 58px;
    margin: 19px 0px;
}

#overallContainer {
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty {
    width: 180px;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.playerListings {
    width: 200px;
    align-items: end;
}
.playerListings #instructions {
    font-weight: bold;
}

.playerListings #blueColour {
    color: blue;
}
.playerListings #redColour {
    color: red;
}

h1 {
    font-size: 40px;
}

#gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameRows {
    display: flex;
}

.gameBlocks {
    height: 150px;
    width: 150px;
}

#block-1, #block-4,#block-7 {
    border-right: 1px solid white;
}
#block-2, #block-5,#block-8 {
    border-right: 1px solid white;
}
#row2 div, #row3 div {
    border-top: 1px solid white;
}

.hoverClass:hover {
    background-color: grey;
}

#winnerSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#winnerSection h1 {
    margin-top: 8px;
}

@media (max-height: 1000px) {
    .title h1 {
        font-size: 40px;
        font-weight: 900;
        margin: 19px 0px;
    }
    #header {
        height: 15%;
    }

    #header h4 {
        font-size: 20px;
    }
    #playerListings div {
        font-size: 16px;
    }
}



@media (min-height: 1200px) and (min-width: 1200px){
    .title h1 {
        font-size: 78px;
        font-weight: 900;
        margin: 19px 0px;
    }
    #header {
        height: 20%;
        margin-bottom: 50px;
    }

    #header h4 {
        font-size: 20px;
    }
    #playerListings div {
        font-size: 16px;
    }
    .gameBlocks {
        height: 250px;
        width: 250px;
    }
}